@media (max-width:768px){

  header nav .logo img {
    width: 100%;
  }

  header {
    background-image: url("../images/palestrato.jpg");
  }

  .bar {
    margin-right: 0px;
  }

  li a {
    float: left;
    font-size: 3vw;
  }

  h1 {
    font-size: 12vw;
  }

  h2 {
    font-size: 8vw;
  }

  .primary-button {
    padding-left: 5vw;
    padding-top: 6vw;
    padding-bottom: 6vw;
  }

  h3, .fitness-text p {
    padding-left: 5vw;
  }

  h3 {
    font-size: 8vw;
    padding-top: 4vw;
  }

  .fitness-text p, .motivation-content p {
    padding-top: 2.5vw;
    font-size: 5.4vw;
  }

  .select-actor h4 {
    font-size: 10vw;
  }

  .select-actor h5 {
    font-size: 4vw;
  }
}
